bokeh==2.0.2  # Updating it ALWAYS breaks something. Beware…
colorcet==2.0.2
decorator==4.4.2
Jinja2==2.11.2
MarkupSafe==1.1.1
networkx==2.5
numpy==1.19.2
packaging==20.4
param==1.9.3
Pillow==8.0.0
PuLP==2.3
pyct==0.4.8
pyparsing==2.4.7
python-dateutil==2.8.1
PyYAML==5.3.1
six==1.15.0
tornado==6.0.4
