<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>

    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css" />
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css" />

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>

    <script type="text/javascript">
        let vertices = JSON.parse('{{ vertices }}');
        let groups = JSON.parse('{{ groups }}');
        let levels = JSON.parse('{{ levels }}');
        let edges = JSON.parse('{{ edges }}');
    </script>
</head>
<body>
    <h3>Vertices</h3>
    <div id="verticesGrid"></div>

    <h3>Control groups</h3>
    <div id="groupsGrid"></div>

    <h3>Control levels</h3>
    <div id="levelsGrid"></div>

    <h3>Edges</h3>
    <div id="edgesGrid"></div>
    <p>Controls specification: semicolon-separated list of restricting controls. Adjusted flow can be given using syntax
        <tt>Control(flow,max_flow)</tt>, ie. <tt>Sc(2,1)</tt> for flow increased up to 1.</p>

    <button onclick="save_edit();">Save</button>
    <button onclick="clear_edit();">Clear</button>

    <script type="text/javascript" src="/my_static/js/edit.js"></script>
</body>
</html>