<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }} &ndash; Security Graph Editor</title>

    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css" />
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css" />

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>

    <link href="/my_static/css/edit.css" rel="stylesheet">

    <!--suppress JSUnusedLocalSymbols -->
    <script type="text/javascript">
        let vertices, groups, levels, edges;
        try {
            vertices = JSON.parse('{{ vertices }}');
            groups = JSON.parse('{{ groups }}');
            levels = JSON.parse('{{ levels }}');
            edges = JSON.parse('{{ edges }}');
        } catch (e) {
            vertices = [];
            groups = [];
            levels = [];
            edges = [];
        }
    </script>
</head>
<body>
    <div style="height: 2em"></div>
    <label for="graph_title">Graph title</label>
    <input id="graph_title" value="{{ name }}">

    <h3>Vertices</h3>
    <div id="verticesGrid"></div>

    <h3>Control groups</h3>
    <div id="groupsGrid"></div>

    <h3>Control levels</h3>
    <div id="levelsGrid"></div>

    <h3>Edges</h3>
    <div id="edgesGrid"></div>
    <p>Controls specification: semicolon-separated list of restricting controls.</p>
    <p>
        If a vulnerability is impacted in a different way than the default
        for the control group, you can manually set reductions for each control
        in the group,
        for example <code>Control[0.6,0.4,0.2]</code>.
    </p>
    <!--
        Deprecated syntax:
        <p>
            Adjusted flow can be given using syntax
            <code>Control(flow,max_flow)</code>, ie. <code>Sc(2,1)</code>
            for flow increased up to 1.
        </p>
    -->

    <div class="buttons">
        <input type="file" id="file" accept=".json" style="display: none;" onchange="open_edit()">

        <button onclick="view_edit();">View</button>
        <button onclick="document.getElementById('file').click();">Open</button>
        <button onclick="save_edit();">Save</button>
        <button onclick="clear_edit();">Clear</button>
    </div>

    <div style="height: 4em"></div>

    <script type="text/javascript" src="/my_static/js/edit.js"></script>
</body>
</html>